* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
:root {
  --animate-duration: 1.5s;
  --animate-delay: 0.9s;
}
header {
  padding: 0.5rem;
  box-shadow: 0 1.125rem 1.25rem rgb(0 0 0 / 8%);
  margin-bottom: 10px;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header span {
  font-weight: normal;
  font-size: medium;
}
h2 {
  text-align: center;
  color: #fff;
}
#game {
  background: #fff;
  overflow: hidden;
  width: 300px;
  height: 500px;
  margin-left: 100px;
  position: relative;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
}
#a {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 400px;
  background: #6dd5fa;
}
#b {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -100px;
  background: rgb(203, 45, 62);
}
@keyframes play {
  0% {
    top: -100px;
  }
  100% {
    top: 400px;
  }
}
footer {
  display: none;
}
.btn {
  font-size: 30px;
  background: #2980b9;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  color: #fff;
}
.menu {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: inherit;
  margin: auto;
  position: absolute;
}
.btn-play,
.btn-music {
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  background: #2980b9;
  color: #fff;
  border: none;
}
.fa-play,
.fa-music {
  font-size: 25px;
}
@media screen and (max-width: 800px) {
  footer {
    position: fixed;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
